$bg-c: #F0E9E1;
$sec-bg-c: #D1BDA5;
$text-c: #272D33;
$active-tab-c: #E2D6C7;
$tab-c: linear-gradient(180deg, #A8957C 0%, rgba(168, 149, 124, 0.00) 100%);
$list-service-b: rgba(240, 233, 225, 0.50);
$active-button-c: linear-gradient(180deg, #EBE3D8 0%, rgba(235, 227, 216, 0.00) 100%);
$submenu-c: linear-gradient(180deg, #E2D6C7 0%, rgba(226, 214, 199, 0.00) 100%);
$button-border: 3px solid rgba(168, 149, 124, 0.50);
$carusel-c: rgba(209, 189, 165, 0.50);
$carusel-border: 10px solid rgba(209, 189, 165, 0.50);
$input-border: $carusel-border;
$input-c: $sec-bg-c;