.btn {
    margin-top: 35px;
    display: flex;
    width: 250px;
    height: 60px;
    padding: 15px 64px 16px 63px;
    justify-content: center;
    align-items: center;
    background-color: $text-c;
    color: #F0E9E1;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    &_menu {
        width: 150px;
        height: 50px;
        background: $tab-c;
        border-radius: 30px 30px 0px 0px;
        border: 3px solid;
        border-color: $list-service-b;
    }
}