.btn {
    margin-top: 35px;
    display: flex;
    width: 250px;
    height: 60px;
    padding: 15px 64px 16px 63px;
    justify-content: center;
    align-items: center;
    background-color: $text-c;
    color: #F0E9E1;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    
}